/* Add any desired styles for the form and its components here */
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e5e5e5;
  color: #555;
  margin-top: 5px;
  margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.payment-methods {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 20px;
}

.payment-method {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.payment-method:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.payment-method.selected {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.payment-method.selected:hover {
  background-color: #0062cc;
  border-color: #0062cc;
}

.payment-method label {
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
  font-size: 14px;
}

.payment-method img {
  height: 50px;
  margin-bottom: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}

.form-div{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  background-color: #0077ff35;
  box-shadow: 0px 0px 20px #0077ff35 ;
  padding: 32px;
}
