<div class="card">
  <img class="card-img-top" [src]="'https://picsum.photos/400/300?random=' + show.id" alt="{{ show.title }}">
  <div class="card-body">
    <h5 class="card-title">{{ show.title }}</h5>
    <p class="card-text">{{ show.description }}</p>
    <ul>
      <li *ngFor="let category of show.categories">{{ category }}</li>
    </ul>
  </div>
  <button class="btn" (click)="goToBuyTicket()" *ngIf="show.availableTickets>0">Watch Now ({{show.availableTickets}} tickets)</button>
  <button class="btn" *ngIf="show.availableTickets<1">No tickets are available</button>
</div>
