.card {
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: 200px 200px auto;
  grid-template-columns: 1fr;
  .card-img-top {
    height: 200px;
    object-fit: cover;
    grid-row: 1 / 2;
  }
  .card-body{
    grid-row: 2 / 3;
  }
  .btn {
    cursor: pointer;
    grid-row: 3 / 4;
    height: 32px;
    border-radius: 16px;
    border: 0;
    box-shadow: 3px 3px 3px #000;
    background-color: rgba(68, 59, 6, 0.73);
  }
  .btn:hover {
     background-color: rgba(68, 59, 6, 0.6);
  }
}

